<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INDEX</title>
</head>
<body>
    <div align=center>
        <h1>무슨 기능을 좋아할지 몰라서 다 모아봤어</h1>
    </div>
    <table border=1 bordercolor="black">
        <tr>
            <td colspan=4 align=center height=40 style="font-family:Nanum Gothic,18px;">골라봐</td>
        </tr>
        <tr>
            <td width=200 height=100 align=center>
                <a href="/lottery">
                    <img src="/flask_upgrade/images/lottery.jpg" alt="lottery" width=180></img></a>
            </td>
            <td width=200 height=100 align=center>
                <a href="/ping">pingpong</a>
            </td>
            <td width=200 height=100 align=center>
                <a href="/soulmate_in">soulmate</a>
            </td>
            <td width=200 height=100></td>
        </tr>
        <tr>
            <td width=200 height=100></td>
            <td width=200 height=100></td>
            <td width=200 height=100></td>
            <td width=200 height=100></td>
        </tr>
    </table>
</body>
</html>